<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Lists</h1>
      <ul>
        <% current_user.lists.each do |list| %>
          <li><%= link_to list.title, list %></li>
        <% end %>
      </ul>
      <br>
      <%= link_to t(".top_call_to_action", default: "New List"), new_list_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    </div>
  </div>
</div>
