<aside id="top" class="list-index">
    <div class="text-vertical-center">
        <h1>Eventualii</h1>
    </div>
</aside>
<section id="services" class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>My Lists</h2>
                <hr class="small">

                <div class="row">
                  <% current_user.lists.each do |list| %>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                          <%= link_to list do %>
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-list text-primary"></i>
                            </span>
                            <h3><strong><%= list.title %></strong></h3>
                          <% end %>
                        </div>
                    </div>
                    <% end %>
                </div>
                <!-- /.row (nested) -->
                <div class="row">
                                  <br>
                <%= link_to "New List", new_list_path, class: "btn btn-lg btn-primary" %>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
