<%= render 'banner' %>
<%= render 'about' %>


<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Do it Eventualii.</h1>
    </div>
</aside>

<%= render 'call_to_action' %>

